# Local
NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210
CONVEX_DEPLOYMENT=anonymous:anonymous-pixagora
NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

# Production (self-hosted backend)
# NEXT_PUBLIC_CONVEX_URL=https://db.svobodnamapa.cz
# CONVEX_SELF_HOSTED_ADMIN_KEY=
# NEXT_PUBLIC_CONVEX_SITE_URL=https://db.svobodnamapa.cz
